html, body {
  height: 99%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Arial Narrow', 'PT Sans Narrow', Arial, sans-serif;
  font-stretch: condensed;
}

h1, h2, h3 {
  color: #1172a7;
  font-weight: 800;
}

.index-bg {
  background: url('http://frostfish.github.io/img/index_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-100;
}

.index-row {
  background: rgba(255,255,255,0.7);
  margin-top: 10%;
}

.white-bg {
  background: rgba(255,255,255,0.85);
}

a {
  color: #1172a7;
  text-decoration: underline;
}

.logo {
  height: 8rem;
}

@media (max-width: 992px) {
  .logo {
    width: 50%;
  }
}

.highlight {
  color: #005478;
  font-weight: 800;
}

.card-body .highlight {
  color: #005478;
  font-weight: 600;
}

.card-body .discount {
  color: #ff0033;
  font-weight: 600;
}

.navbar-frost {
  padding:0;
  color: #FFFFFF;
  background-color: #1172a7;
}

.footer-frost {
  background: #1172a7;
  color: #ffffff;
}

.bottom-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navbar-frost .active {
  background-color: #00aef7;
}

.navbar-frost .navbar-nav .nav-link {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.navbar-nav > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-nav > li:hover, .nav > li:focus {
  background-color: #00aef7;
  text-decoration: none;
}

.shopping-cart {
  font-size: 3rem;
  padding: 0;
}

.phone {
  font-size: 2rem;
  color: #1172a7;
  font-weight: 600;
}

.description {
  font-size: 1.2rem;
}

.address a {
  color: black;
}

.btn-frost {
  background-color: #1172a7;
  color: #ffffff;
}

.btn-frost:hover {
  background-color: #00aef7;
  color: #ffffff;
}

.footer-bg {
  background-color: #eee;
}

.card-footer {
  padding: 5px;
}

.advantage-check {
  font-size: 36px;
  color: #1172a7;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #1172a7;
}

.bd-callout-info h4 {
  color: #1172a7;
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}

.hover-image {
  overflow: hidden;
  padding: 0;
}

.hover-image img {
  max-width: 100%;
  text-align:center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hover-image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}